name: {{ .chezmoi.hostname }}
system: {{ .chezmoi.os }}
architecture: {{ .chezmoi.arch }}

{{- if eq .chezmoi.hostname "work-laptop" }}
export ENV=production
{{- else if eq .chezmoi.hostname "home-desktop" }}
export ENV=development
{{- else }}
export ENV=unknown
{{- end }}
